body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #E9D0EB, #FAD3FF, #F5F5F5, #F8F0F0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.login_senha{
    margin-top: 10px;
}
.logo img{
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 50%;
    margin: -130px auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.login_card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
}
.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.campo label{
    margin-bottom: 5px;
}
.campo input{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
button {
    border-radius: 14px;
    justify-content: center;
    display: flex;
    display: block;
    margin: 15px auto;
    width: 70px;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background: #f4b6d8;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
     background: #e99ac7;
}
.cadastro_link {
  text-align: center;
  margin-top: 20px;
}